.bio-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.bio-container.show {
  opacity: 1;
  transform: translateY(0);

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}

h1, h2, h3 {
  color: #333;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: color 0.3s ease;
}

h1:hover, h2:hover, h3:hover {
  color: #007bff;
}

h1::after, h2::after, h3::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #007bff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

h1:hover::after, h2:hover::after, h3:hover::after {
  transform: scaleX(1);
}
h3.Primary-School {
    display: block;
  }

.details {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
  line-height: 1.5;
  color: #666;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: color 0.3s ease;
}

p:hover {
  color: #007bff;
}

p::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  width: 10px;
  height: 10px;
  background-color: #007bff;
  border-radius: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

p:hover::before {
  opacity: 1;
}

.img-overlay {
  position: relative;
  display: inline-block;
}

.img-overlay:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.img-overlay:hover:before {
  opacity: 1;
}

.img-overlay img {
  transition: transform 0.3s ease;
}

.img-overlay:hover img {
  transform: scale(1.1);
}
